# Dependencies
node_modules/

# Build output
dist/
*.local

# Environment
.env
.env.*
!.env.example

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Test / coverage
coverage/

# Caches
.cache/
.parcel-cache/
.vite/

# OS
.DS_Store
Thumbs.db

.idea/
